.page {
    min-height: 80vh;
    background-color: $color-secondary-lighter;
    color: $color-tertiary-darker;
    
    &__header {
        padding: 1.5rem 0;
        text-align: center;
        background-color: $color-tertiary-lighter;
        border-bottom: 1px solid $color-tertiary-light;
    }
    
    &__title {
        text-transform: uppercase;
        font-size: 2.2rem;
        font-weight: 600;
        position: relative;
        margin-bottom: 1rem;

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            z-index: 5;
            width: 5rem;
            height: 1px;
            background-color: $color-primary;
            @include abs-center-horizontal()
            bottom: -.5rem;
        }
    }
}