.container {
    max-width: 150rem;
    margin: 0 auto;
    min-height: 50rem;
    @include box-shadow()
}

.page-section {
    padding: 1.5rem 0;
}

.page-section--small-padding {
    padding: .5rem 0;
}

.wrapper {
    padding: 0 2rem;
}

//------------------------------------------------------------

.header {
    color: $color-tertiary-light;
}

.top-bar {
    display: flex;
    justify-content: flex-end;

    background-color: $color-tertiary-darker;
    background-image: linear-gradient(to right, rgba($color-tertiary-dark, 1), rgba($color-tertiary-darker, 1));
}

.top-bar-menu {
    display: flex;
    font-size: 1.2rem;

    &__item {

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        text-transform: uppercase;
        @include transition-medium()

        &:hover {
            color: $color-tertiary-lighter;
        }
    }
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;

    background-color: $color-tertiary-dark;
    background-image: linear-gradient(to right, rgba($color-tertiary, 1), rgba($color-tertiary-dark, 1));

    & > * {
        flex-basis: 30rem;
    }
}

.search {
    display: flex;
    align-items: stretch;

    color: $color-tertiary-lighter;
    border: 1px solid currentColor;
    border-radius: 22px;
    @include transition-medium()

    &:hover{
        border: 1px solid $color-primary;
    }

    &:hover &__input {
        border-left: 1px solid $color-primary;
        border-right: 1px solid $color-primary;
    }

    & > * {
        padding: .8rem 1.3rem;
        color: inherit;
    }

    &__show-all {
        flex-basis: 3rem;
    }

    &__input {
        box-sizing: border-box;
        font-size: inherit;
        color: currentColor;
        background-color: transparent;
        outline: 0 transparent;
        flex-grow: 1;
        border: none;
        border-left: 1px solid currentColor;
        border-right: 1px solid currentColor;
        @include transition-medium()
    }

    &__input::placeholder {
        color: currentColor;
    }

    &__btn {
        flex-basis: 3rem;
    }
}

.logo {
    font-size: 6rem;
    text-align: center;
}

.cart {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;

    color: $color-tertiary-lighter;
    border: 1px solid currentColor;
    border-radius: 22px;
    @include transition-medium()

    &:hover{
        border: 1px solid $color-primary;
    }

    & > * {
        padding: .8rem 1.3rem;
        color: inherit;
    }

    &__btn {
        flex-basis: 3rem;
    }
}

.navbar{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;

    background-color: $color-primary;
    background-image: linear-gradient(to right, rgba($color-primary, 1), rgba($color-primary-dark, 1));
}

.main-menu {
    display: flex;
    color: $color-secondary;

    &__item {
        border-left: 1px solid $color-tertiary;
        border-bottom: 1px solid $color-primary;
        @include transition-medium()

        &:hover {
            background-color: $color-tertiary-darker;
            border-bottom: 1px solid $color-secondary;
        }

        &:last-child {
            border-right: 1px solid $color-tertiary;
        }
    }

    &__link {
        display: inline-block;
        padding: 1rem 1.5rem;
        text-transform: uppercase;
    }
}

//====================================
.slider {
    width: 100%;
    height: auto;
}

.slide {
    position: relative;
    width: 100%;

    &__text {
        position: absolute;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        @include abs-center()
    }

    &__title {
        font-size: 8rem;
        color: $color-primary-darker;
    }

    &__sub-title {
        display: inline-block;
        padding: 0.5rem;
        border-bottom: 1px solid currentColor;
        font-size: 5rem;
        font-weight: 500;
        color: $color-primary;
    }

    &__img {
        width: 100%;
        max-width: 100%;
    }
}

//=====================================
.banners {
    display: flex;
    justify-content: space-between;

    // padding: 2rem;

    &__item {
        flex-grow: 1;
        margin: 2rem 0;
        margin-left: 2rem;

        &:last-child {
            margin-right: 2rem;
        }
    }
}

.banner {
    height: auto;
    position: relative;
    overflow: hidden;
    @include transition-medium()

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color-primary-dark, 0);
        @include transition-medium()
    }

    &:hover {
        &::before {
            background-color: rgba($color-primary-dark, .6);
        }
    }

    &__img {
        width: 100%;
        max-width: 100%;
    }

    &__btn {
        position: absolute;
        z-index: 20;
        bottom: -3rem;
        @include abs-center-horizontal()
        @include transition-medium()

        &:hover {
            font-size: 1.4em;
        }
    }

    &:hover {
        @include box-shadow-small()
    }

    &:hover &__btn {
        bottom: 3rem;
    }
}

.inline-btn {
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.3rem;
    color: $color-secondary;
    border-bottom: 1px solid $color-primary;
}

.top-products {
    background-color: $color-tertiary-light;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    &__item {
        flex-grow: 1;
        color: $color-secondary;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem;
        background-color: $color-tertiary-dark;
        padding: 1rem;
        cursor: pointer;
        @include transition-medium()
        @include box-shadow-small()

        &:hover {
            background-color: $color-primary;
            @include box-shadow()
        }
    }

    &__item--active {
        background-color: $color-primary;
        position: relative;
        @include box-shadow()

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            background-color: $color-primary;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            bottom: -0.5rem;
        }
    }
}

.cards {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.card-wrapper {
    // padding: 1.5rem;
    flex: 0 0 calc( 25% - 2rem );
    margin-bottom: 2rem;
    min-width: 30rem;
    display: flex;
    flex-direction: row;
}

.card {
    flex: 1;

    background: $color-secondary;
    padding: 3px;
    border: 2px solid transparent;
    @include transition-medium()
    @include box-shadow-small()

    &__photo {
        width: 100%;
        height: auto;
    }

    &__img {
        width: 100%;
        max-width: 100%;
        display: block;
    }

    &__line {
        background: $color-tertiary-lighter;
        margin: 15px 0;
        display: inline-block;
        width: 100%;

        &--small {
            width: 40%;
            margin: .5rem 0;
        }

        &:last-child {
            margin: 0.5rem 0;
        }
    }

    &__info {
        text-align: center;
        color: $color-tertiary-darker;
    }

    &__title {
        font-size: 1.6rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        cursor: pointer;
    }

    &__price {
        font-size: 1.5rem;
    }

    &__to-buy {
        display: inline-block;
        width: 70%;
        padding: .5rem 0;
        background-color: $color-tertiary-darker;
        border: 1px solid $color-tertiary;
        border-radius: 25px;
        color: $color-primary;
        font-size: 1.4rem;
        margin: 1rem 0;
        @include transition-medium()

        &:hover {
            border: 1px solid $color-primary-lighter;
            @include box-shadow-small()
        }
    }

    &__to-buy > * {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: .4rem .5rem .5rem .5rem;
        line-height: 1;
    }

    &__to-buy-buttons {
        width: 2.5rem;
        height: 2.5rem;
        color: $color-primary-light;
        border-radius: 50%;
        background-color: $color-tertiary;
        border: 1px solid $color-tertiary-light;
        @include transition-medium()
        cursor: pointer;

        &:hover {
            background-color: $color-primary;
        }
    }

    &__minus {

    }

    &__count {
        color: $color-primary-lighter;
    }

    &__plus {

    }

    &__btn-buy {
        text-transform: uppercase;

        &:hover {
            color: $color-primary-light;
            @include transition-medium()
        }
    }

    &:hover {
        border: 2px solid $color-primary;
        @include box-shadow()
    }
}

.footer {
    width: 100%;
    background-color: $color-tertiary-darker;
    font-size: 1.6em;
    color: $color-secondary;
    text-align: center;
    vertical-align: middle;

    &__privacy {
        width: 100%;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $color-tertiary-dark;
    }

    &__logo {
        flex: 0 0 30%;
    }

    &__search {
        flex: 0 0 30%;
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-tertiary, .8);
    z-index: 5;
    display: flex;

    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    @include transition-medium()

    &--visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    &__inner {
        flex: 0 1 70rem;
        margin: auto;
        background-color: rgba($color-tertiary-darker, 1);

        height: 30rem;
    }

    &__header {
        background-color: rgba($color-tertiary-light, 1);
        border-bottom: 1px solid $color-tertiary-dark;

        position: relative;
    }

    &__title {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: rgba($color-tertiary-darker, 1);
    }

    &__close {
        position: absolute;
        top: 13px;
        right: 13px;
        width: 30px;
        height: 30px;

        &::before,
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 100%;
            height: 5px;
            z-index: 3;
            background-color: rgba($color-tertiary-darker, 1);
            border-radius: 5px;
            cursor: pointer;
            top: 50%;
        }

        &::before {
            transform: translateY(-50%) rotate(45deg);
        }

        &::after {
            transform: translateY(-50%) rotate(-45deg);
        }
    }
}