
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

$color-base: 100;

// $color-primary: rgb(27, 173, 27);
$color-primary: hsl($color-base, 60%, 40%);
$color-primary-light: hsl($color-base, 60%, 65%);
$color-primary-lighter: hsl($color-base, 60%, 85%);
$color-primary-dark: hsl($color-base, 60%, 25%);
$color-primary-darker: hsl($color-base, 60%, 15%);

// $color-secondary: rgb(255, 255, 255);
$color-secondary: hsl($color-base, 60%, 92%);

// $color-tertiary: #777;
$color-tertiary: hsl($color-base, 5%, 55%);
$color-tertiary-light: hsl($color-base, 5%, 75%);
$color-tertiary-lighter: hsl($color-base, 5%, 95%);
$color-tertiary-dark: hsl($color-base, 5%, 45%);
$color-tertiary-darker: hsl($color-base, 5%, 25%);

// $color-shadow: #111;
$color-shadow: #111;
$color-shadow-light: lighten($color-shadow,30%);
$color-shadow-dark: darken($color-shadow,30%);


@mixin box-shadow {
    box-shadow: 0px .5rem 1rem 0px rgba(0,0,0,0.5);
}

@mixin box-shadow-small {
    box-shadow: 0px .5rem 1rem 0px rgba(0,0,0,0.2);
}

@mixin transition-medium {
    transition: .3s;
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin abs-center-vert {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin abs-center-horizontal {
    left: 50%;
    transform: translateX(-50%);
}

@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
